<!DOCTYPE html>
<html>
  <head>
    <title>Fake Data Generator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div class="container">
          <br><br><br><br><br><br><br><br><br>
          <h1 class="text-center">Fake Data Generator</h1>
          <br><br>
          <form action="/" method="post">
            <div class="form-group">
                <input type="number" class="form-control" name="number" id="" placeholder="No of Rows" required>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Generate Data
                </button>
            </div>
        </form>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>